
@{
    ViewBag.Title = "Index";
}
<h2>喝水建議量</h2>

@using (Html.BeginForm("Index", "Water", FormMethod.Get))
{

    <p>姓名 : @Html.TextBox("name")</p>
    <p>體重 : @Html.TextBox("weight") (kg)</p>
    if (ViewBag.wI)
    {
        <p>Hi,  @ViewBag.name,   建議喝水量 : @ViewBag.Result</p>
    }
    else
    {
        <p></p>
    }
    <input type="submit" name="" value="送出" />
}